*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: var(--background);
    color: #fcfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.van{
    color: var(--text-main);
    text-decoration: bold;
    margin: 10px;
    font-size: 18px;
    flex-direction: row;

}
:root{
    --primary-color: #47e547;
    --background: #0f171c;
    --surface: #1e2931;
    --text-main: #fff;
    --text-secondary: #94a3b8;
}

body{
    background-color: var(--background);
    color: var(--text-main);
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
form{
    background-color: var(--surface);
    padding: 100px;
    border-radius: 20px;
}

.dax {
    padding: 6px;
    margin-bottom: 2px;
}
.dax input, .dax textarea{
    padding: 10px;
    width: 100%;
    border-radius: 20px;

}
button{
    background-color: var(--primary-color);
    color: var(--text-main);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
button :hover{
    background-color: var(--surface);

}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--surface);
    padding: 20px;
    margin-top: 400px;
}






























































/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    height: 100vh;
}
/*
.foot {
    background-color: blue;
    border: 3em;
    margin: 10px;
    text-align: center;
    padding: 15px 10px;
}----------
.left-side{
    flex: 1;
    background-color: #2c2c2c;
    color: #fcfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right-side{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c2c2c;
}

.form-2{
    padding: 10px;
    
}
.form-2 label{
    display: block;
}
.form-2 input{
    padding: 8px;
    width: 100%;

}
.form-2 input, .form-2 textarea{
    padding: 8px;
    width: 100%;
}
.button{
    padding: 10px;
    width: 100%;
    background-color: #47e45c;
    color: #2c2c2c;
    border: none;
    cursor: pointer;
}*/